  
body {
    background-color: powderblue;
    text-align: center;
  }

button {

    color: blueviolet;
}
  
  head {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  p {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(106, 70, 250);
    text-align: center;
  }
